*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #efefef;
}

a,
a:visited,
a:active {
  outline: none;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
a,
p {
  font-size: 2rem;
  color: #000000;
  font-family: "bdo_groteskregular";
}
